.container {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 1fr;

    a {
        text-decoration: none;
        color: hsla(0, 0%, 0%, 0.8);
    }

    a:hover {
        color: mediumorchid;
    }
}

.section {
    margin-bottom: 2em;
}

.detail {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 4fr;
    row-gap: 1rem;
}

.imgWrapper {
    margin-top: 1em;
    margin-right: 30%;
    border: 2px solid black;
    overflow: hidden;
}

.collection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh repeat(4, 45vh);

    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    a {
        text-decoration: none;
        color: hsla(0, 0%, 0%, 0.8);
    }

    a:hover {
        color: mediumorchid;
    }

    /* 1080p */
    @media(min-width: 1400px) {
        grid-template-rows: 33vh repeat(4, 45vh);
    }
}

.collection5 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh repeat(5, 45vh);

    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    a {
        text-decoration: none;
        color: hsla(0, 0%, 0%, 0.8);
    }

    a:hover {
        color: mediumorchid;
    }

    /* 1080p */
    @media(min-width: 1400px) {
        grid-template-rows: 45vh repeat(5, 45vh);
    }
}

.collection6 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh repeat(6, 45vh);

    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    a {
        text-decoration: none;
        color: hsla(0, 0%, 0%, 0.8);
    }

    a:hover {
        color: mediumorchid;
    }

    /* 1080p */
    @media(min-width: 1400px) {
        grid-template-rows: 33vh repeat(6, 45vh);
    }
}

.collectionEntry {
    display: grid;
    grid-template-columns: 50% auto;
    column-gap: 5vw;
}
