.rows {
    position: relative;
    top: 20%;
    left: 25%;

    width: 70%;
    height: 100%;
}

.row {
    position: relative;
    height: 40%;

    a {
        text-decoration: none;
    }

    // a:hover {
    //     text-decoration: underline;
    // }
}

.nav {
    display: none;
    padding-top: 100px;

    @media(min-width: 550px) {
        display: unset;
    }
}

.footer {
    display: none;

    @media(min-width: 900px) {
        display: block;
        position: relative;
        height: 100px;

        p {
            position: absolute;
            right: 2%;
            bottom: 0;
        }
    }
}
