.exhibition {
    position: absolute;
    display: inline-block;
    top: 30%;
    left: 30px;
    z-index: 3;
    transform: rotate(-5deg);

    @media(min-width: 700px) {
        top: auto;
        bottom: 65%;
        left: 32%;
        z-index: 3;
        transform: rotate(-6deg);
    }
}
