/* Playfair */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap");
/* Playfair SC */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap");
/* Cormorant */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");

.en {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
}

.en-header {
    font-family: 'Cormorant Garamond', serif;
    font-style: normal;
    font-weight: 600;
}

.zh {
    font-family: source-han-serif-sc, serif;
    font-style: normal;
    font-weight: 200;
}

.kaiti {
    font-family: 'STKaiti', 'KaiTi', '楷体', 'SimKai', 'DFKai-SB', 'NSimSun', serif;
    font-style: normal;
}

.zh-header {
    font-family: source-han-serif-sc, serif;
    font-style: normal;
    font-weight: 500;
}

.black {
    color: black;
}

.white {
    color: white;
}

.sm {
    font-size: 30px;
}

.md {
    font-size: 4.5vw;
    line-height: 3vh;
}

.lg {
    font-size: 6vw;
    line-height: 4vh;
}

.xlg {
    font-size: 9vw;
    line-height: 5.5vh;
}

@media (min-width: 600px) {
    .md {
        font-size: 3vw;
        line-height: 4vh;
    }
    
    .lg {
        font-size: 5vw;
        line-height: 4.5vh;
    }
    
    .xlg {
        font-size: 7.5vw;
        line-height: 6.5vh;
    }
}

@media (min-width: 800px) {
    .md {
        font-size: 2.5vw;
        line-height: 3.5vh;
    }
    
    .lg {
        font-size: 4vw;
        line-height: 5vh;
    }
    
    .xlg {
        font-size: 6vw;
        line-height: 7vh;
    }
}

@media (min-width: 1000px) {
    .md {
        font-size: 1.5vw;
        line-height: 15px;
    }
    
    .lg {
        font-size:2.5vw;
        line-height: 30px;
    }
    
    .xlg {
        font-size: 4vw;
        line-height: 7vh;
    }
}

@media (min-width: 1400px) {
    .md {
        font-size: 25px;
        line-height: 20px;
    }
    
    .lg {
        font-size: 38px;
        line-height: 35px;
    }
    
    .xlg {
        font-size: 50px;
        line-height: 50px;
    }
}
