/* Playfair */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap");
/* Playfair SC */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap");
/* Cormorant */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");

body {
    font-family: Helvetica Neue, Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", sans-serif;
    font-weight: 500;
    font-size: 20pt;
    line-height: 35px;
}

.serif {
    font-family: adobe-caslon-pro, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, 'source-han-serif-sc', 'Source Han Serif SC', 'Source Han Serif CN', 'Source Han Serif TC', 'Source Han Serif TW', 'Source Han Serif', 'Songti SC', serif;
}

.en-link {
    text-decoration: underline;
}

.en-link:hover {
    text-decoration: none;
}

.zh-link {
    text-decoration: none;
}

.zh-link:after {
    content: '';

    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1px;

    border-width: 0 0 2px;
    border-style: solid;
}

.zh-link:hover:after {
    display: none;
}

.link-en {
    text-decoration: none;
}

.link-en:hover {
    text-decoration: underline;
}

.link-zh {
    text-decoration: none;
}

.link-zh:hover:after {
    content: '';

    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1px;

    border-width: 0 0 2px;
    border-style: solid;
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: none;
}

.italic {
    font-style: italic;
}

.underline {
    border-bottom: 1px solid black;
}

.black {
    color: black;
}

.white {
    color: white;
}

@media (min-width: 1000px) {
    .md {
        font-size: 1.5vw;
        line-height: 15px;
    }
    
    .lg {
        font-size: 28pt;
        line-height: 35px;
    }
    
    .xlg {
        font-size: 4vw;
        line-height: 7vh;
    }
}

/* .sm {
    font-size: 30px;
}

.md {
    font-size: 4.5vw;
    line-height: 3vh;
}

.lg {
    font-size: 6vw;
    line-height: 4vh;
}

.xlg {
    font-size: 9vw;
    line-height: 5.5vh;
}

@media (min-width: 600px) {
    .md {
        font-size: 3vw;
        line-height: 4vh;
    }
    
    .lg {
        font-size: 5vw;
        line-height: 4.5vh;
    }
    
    .xlg {
        font-size: 7.5vw;
        line-height: 6.5vh;
    }
}

@media (min-width: 800px) {
    .md {
        font-size: 2.5vw;
        line-height: 3.5vh;
    }
    
    .lg {
        font-size: 4vw;
        line-height: 5vh;
    }
    
    .xlg {
        font-size: 6vw;
        line-height: 7vh;
    }
}

@media (min-width: 1400px) {
    .md {
        font-size: 25px;
        line-height: 20px;
    }
    
    .lg {
        font-size: 38px;
        line-height: 35px;
    }
    
    .xlg {
        font-size: 50px;
        line-height: 50px;
    }
} */
