.dropdown {
    display: flex;
    z-index: 3;
    overflow: visible;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 5vw;
    text-align: center;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
}

.dropdown-icon {
    margin-left: 2px;
    padding-top: 4px;
}
