@mixin title-base {
    display: inline-block;
    width: 100%;
    background-color: transparent;
    z-index: 3;
}

@mixin link-base {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
    z-index: 4;
    border-bottom: 1px solid transparent;
}

.title {
    @include title-base;
    font-size: 4vh;
    font-weight: 500;
    line-height: 3vh;

    z-index: 1;
}

.title a {
    @include link-base;
}

.subtitle {
    @include title-base;
    font-size: 4vh;
    font-weight: 400;
    line-height: 3vh;

    // background: rgba($color: white, $alpha: 0.2);

    a {
        @include link-base;
        text-decoration: underline;
    }

    a:hover {
        text-decoration: none;
    }
}

.subsubtitle {
    @include title-base();
    font-size: 28pt;
}

.pageTitle {
    position: fixed;
    top: 0;
    right: 0;
    margin: 25px 0px 0px 0px;
    z-index: 5;

    width: 400px;
    height: 100px;

    display: inline-block;
    text-align: right;

    // background-color: rgba(255, 255, 255, 0);

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}
