.contentWrapper {
    padding: 9vh 10vw 7vh 10vw;
}

.sectionBg {
    padding: 40vh 10vw 20vh 10vw;
}

.button {
    position: absolute;
    right: 10vw;
    top: 28vh;
}

.description {
    font-size: 1.5vh;
    position: absolute;
    bottom: 10vh;
}

.description p {
    margin-top: -2%;
    margin-bottom: 0;
}

@media (min-width: 800px) {
    .sectionBg {
        padding: 38vh 15vw 25vh 15vw;
    }

    .contentWrapper {
        padding: 9vh 15vw 7vh 15vw;
    }

    .button {
        top: unset;
        right: 15vw;
        bottom: 13vh;
    }

    .description {
        bottom: 14vh;
    }
}

@media (min-width: 1000px) {
    .sectionBg {
        padding: 35vh 15vw 35vh 15vw;
    }

    .description {
        bottom: 24vh;
    }
}
