.title {
    position: relative;
    // top: 50;
    // right: 0;
    margin: 100px 0px 0px 0px;
    z-index: 4;

    width: 100vw;
    height: 100px;

    display: inline-block;
    text-align: center;

    background-color: rgba(255, 255, 255, 0);

    @media(min-width: 900px) {
        position: fixed;
        top: 0;
        right: 0;
        margin: 30px 25px 0px 0px;

        width: 400px;
        height: 100px;
        text-align: right;
    } 
}
