.about {
    width: 100vw;
    height: 100vh;
}

.about a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid transparent;
    z-index: 4;
}

.title {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0);
    width: 400px;
    height: 100px;
}
