.home {
    width: 100%;
    height: 100vh;

    a:hover {
        color: darkorange;
    }
}

.home a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid transparent;
    z-index: 4;
}

.footer {
    display: none;

    @media(min-width: 700px) {
        position: absolute;
        bottom: 2vh;
        right: 2vh;

        display: inline-block;
        z-index: 3;
    }
}
