.content-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15%;
    z-index: 1;
}

@media( min-width: 600px ) {
    .content-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10%;
        z-index: 1;
    }
}
