.events {
    position: absolute;
    width: 80%;

    top: 15%;
    left: 30px;
    transform: rotate(-5deg);

    @media(min-width: 700px) {
        width: auto;
        top: 15%;
        left: 30%;
        transform: rotate(-20deg);
    }
}
