.container {
    width: 100vw;
    height: 85vh;

    margin-top: 15vh;

    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
}

.navigation {
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.navigation::-webkit-scrollbar {
    display: none; /* chrome */
}

.year {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr;
    grid-gap: 0.5rem;

    height: 30vh;
}

.yearContainer {
    text-align: right;
}

.months {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
}

.month {
    display: grid;
    grid-template-columns: 33% 67%;
    grid-template-rows: 1fr;
}

.titles {
    display: flex;
    flex-direction: column;
}

.title {
    all: unset;

    :hover {
        cursor: pointer;

        span {
            font-style: italic;
        }
    }
}

.sticky {
    position: sticky;
    top: 0;
}
