.container {
    width: 100vw;
    height: 88vh;

    margin-top: 12vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3vh auto;

    a {
        pointer-events: none;
        cursor: not-allowed;

        /* 1080p */
        @media(min-width: 1400px) {
            pointer-events: unset;
            cursor: unset;
        }
    }
}

.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;

    /* 1080p */
    @media(min-width: 1400px) {
        grid-template-columns: 40% 60%;
    }
}

.headerNav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
}

.headerY {
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 1fr;
    grid-gap: 0.5rem;

    /* 1080p */
    @media(min-width: 1400px) {
        grid-template-columns: 25% auto;
    }
}

.headerM {
    display: grid;
    grid-template-columns: 27% 73%;
    grid-template-rows: 1fr;

    /* 1080p */
    @media(min-width: 1400px) {
        grid-template-columns: 33% 67%;
    }
}

.headerInfo {
    display: none;

    /* 1080p */
    @media(min-width: 1400px) {
        display: block;
    }
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;

    overflow-y: scroll;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    /* 1080p */
    @media(min-width: 1400px) {
        grid-template-columns: 40% 60%;
    }
}

.content::-webkit-scrollbar {
    display: none; /* chrome */
}

.contentInfo {
    display: none;

    /* 1080p */
    @media(min-width: 1400px) {
        display: block;
    }
}

.navigation {
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    row-gap: 1rem;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.navigation::-webkit-scrollbar {
    display: none; /* chrome */
}

.year {
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 1fr;
    grid-gap: 0.5rem;

    /* 1080p */
    @media(min-width: 1400px) {
        grid-template-columns: 25% auto;
    }
}

.yearContainer {
    text-align: right;
}

.months {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    row-gap: 0.5rem;
}

.month {
    display: grid;
    grid-template-columns: 27% 73%;
    grid-template-rows: 1fr;

    /* 1080p+ */
    @media(min-width: 1400px) {
        grid-template-columns: 33% 67%;
    }
}

// .m {
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;

//     /* 1080p+ */
//     @media(min-width: 1400px) {
//         text-overflow: unset;
//         white-space: unset;
//     }
// }

.titles {
    display: flex;
    flex-direction: column;
}

.title {
    all: unset;

    margin-bottom: 1rem;
}

.title:hover {
    cursor: pointer;

    span {
        font-style: none;
        // color: #FC4020;
        // color: #FFBE2E;
        // color: #529e00;
        color: #0043FF;
        // color: mediumorchid;
    }
}

.event {
    // color: #529e00;
    color: darkgrey;
    // opacity: 0.5;
}

.sticky {
    position: sticky;
    top: 0;
}

.scrollPadding {
    display: none;

    position: fixed;
    top: 18vh;
    left: 0;

    width: 100%;
    height: 2.5vh;

    background-image: linear-gradient(to bottom, white 10%, rgba(255, 255, 255, 0));

    @media(min-width: 1400px) {
        display: block;
        top: 15vh;
    }
}
