.nav-bar {
    position: fixed;
    left: 0;
    bottom: 0;

    width: 300px;
    height: 300px;
    padding: 50px 10px 20px 30px;

    line-height: 40px;

    z-index: 3;
}

.nav-bar a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
    border-bottom: 1px transparent solid;
    z-index: 3;
}
