.content {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15vh;

    @media(min-width: 900px) {
        position: relative;
        padding-left: 2%;
        padding-right: unset;
        width: 50%;
    }
}

.title {
    // text-decoration: underline;
    margin-bottom: 5px;

    a {
        color: #FC4020;
        text-decoration: none;
        position: relative;
    }

    a:hover {
        color: black;
    }

    a:hover:after {
        content: none;
    }
    
    a:after {
        content: '';
    
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
    
        border-width: 0 0 2px;
        border-style: solid;
    }

    @media(min-width: 900px) {
        a:after {
            content: '';
        
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0px;
        
            border-width: 0 0 3px;
            border-style: solid;
        }
    }
}

.title:hover {
    color: black;
}

.link1 {
    color: #0043FF;
    text-decoration: none;

    @media(min-width: 900px) {
        color: black;
    }
}

.link1:hover {
    color: #0043FF;
}

.link2 {
    color: #FFBE2E;
}

.link2:hover {
    color: black;
    text-decoration: none;
}

.details {
    margin-top: 33px;
}

.ticket {
    margin-top: 1em;
}

.slide {
    margin-top: 1em;
    width: 100%;
    height: auto;
    overflow: hidden;

    @media(min-width: 900px) {
        width: 80%;
        height: 50%;
    }
}

.description {
    margin-top: 1em;

    @media(min-width: 900px) {
        width: 90%;
    }
}

.footer {
    height: 5vh;

    @media(min-width: 900px) {
        margin-top: 20%;
        height: 20%;
    }
}

.footer:hover {
    color: #0043FF;
}
